html, body { 
    --color-1: #295a9d;
    --color-2: #dcedc1; 
    --color-3: #e60000;
    --color-4: #ff0000;
    --color-5: #48cae4;
    margin: 0;
    padding: 0;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Oswald', sans-serif;
}
.titleEl {
    padding: 0;
    margin: 0;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: 400;
    font-size: 50px;
    color: var(--color-1);
    text-shadow: 3px 3px 2px black;
}
h2 {
    margin-bottom: 5px;
    font-size: 36px;
    color: var(--color-1);
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 3px 2px black;
}
.score-el {
    padding: 10;
    margin: 0 auto;
}
#x2-message {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: var(--color-1);
    text-shadow: 2px 2px 1px black;
    margin: 10 auto;
}
.playersWins {
    font-size: 36px;
    color: var(--color-3);
    text-shadow: 3px 3px 2px black;
}
.redletters {
    color: var(--color-4);
}
body {
    padding-top: 0px;
    background-image: linear-gradient(135deg, var(--color-1) , var(--color-2));
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: black;
}

.container {
    /* background-color: skyblue; */
    background: url("images/background55.png") no-repeat;
    background-size: 100%;
    width: 380px;
    text-align: center;
    margin: 20px auto 0px auto;
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
    padding: 20px;
}
#mutebtn {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    background: url("images/volume20px.png") no-repeat;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.dice-container1 {
    display: flex;
    }
.dice-container2 {
    display: flex;
}
.players {
    display: flex;
    justify-content: space-around;
}

.dice {
    border-radius: 12px;
    width: 85px;
    height: 85px;
    margin: 0 auto;
    font-size: 80px;
    display: block;
}
.h2-spacer {
    margin-right: 5px;
}
.btn-container{
    display: flex;
}
button {
    display: block;
    color: #fff;
    padding: 10px 25px;
    font-size: 18px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#resetWinsBtn {
    background-color: var(--color-5);
}
#rollBtn {
    background-color: var(--color-5);
}
#resetBtn {
    background-color: var(--color-4);
}
.double-or-nothing-box-text {
    color: var(--color-3);
    font-weight: 700;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 1px black;
    cursor: pointer;
}
.double-or-nothing-box-text:active, .double-or-nothing-box-text:hover {
    color: #48cae4; 
}
input[type=checkbox]{
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); 
    outline: none;
}
button:focus {
    outline: none;
}

#resetBtn {
    display: none;
}

.active {
    box-shadow: -2px 6px 15px 10px rgba(0,0,0,0.75);
}
#flying-cow {
    display: none;
    width: 250px;
    animation: flying 2.5s;
    position: absolute;
}

@keyframes flying {
    0%  {
        transform: translateY(175%);
}
    100%{
        transform: translateX(600%);
}
}